<div class="class1">
<h4>Pipes Example</h4>
City:{{city}}<br/>
Salary:{{salary}}<br/>
n:{{n}}<br/>
Current Time:{{ currentDate}}<br/>
Person:{{person}}<br/>
<hr/>

City In uppercase:{{city.toUpperCase()}}<br/>
City In lowerCase:{{city.toLowerCase()}}<br/>
Slice:{{city|slice:2:6}}<br/>
Currency in USD:{{salary|currency:"USD"}}<br/>
Currency in INR:{{salary|currency:"INR"}}<br/>
Short Date:{{ currentDate|date:"shortDate"}}<br/>
Medium Date:{{ currentDate|date:"medium date"}}<br/>
Formatted Date:{{ currentDate|date:"d/m/y"}}














</div>