<h4>Registration</h4>
Username :<input type="text" [(ngModel)]="username"/><br/>
Password :<input type="password" [(ngModel)]="password"/><br/>
Confirm-Password :<input type="password" [(ngModel)]="confirmPassword"/><br/>
Gender :<input type="radio" [(ngModel)]="gender" value="Male"/>Male
<input type="radio" [(ngModel)]="gender" value="FeMale"/>FeMale
<br/>
Country :
<select [(ngModel)]="country">
<option>-Select</option>
<option>India</option>
<option>Us</option>
<option>Aus</option>
<option>England</option>
</select>

<input type="checkbox" [(ngModel)]="licenceAgreement"/>|Accept licenceAgreement<br/>
<input type="Submit" value="Register" (click)=" RegisterClick()"/><hr/>
<div [innerHtml]="msg"></div>