<div>
<h4>ngFor with searching and sorting data</h4>
<input type="text" placeholder="search" [(ngModel)]="str"/>
<input type="button" value="search" (click)="onSearchClick"/>
<br/>
sort:
<select [(ngModel)]="sortcolumn">
<option>empId</option>
<option>empName</option>
<option>salary</option>

</select>

<select [(ngModel)]="order">
  <option value="1">Asending order</option>
  <option value="-1">Decending Order</option>
 
  
  </select>

  <input type="button" value="search" (click)="onSearchClick"/>

  <table border="1">
    <tr *ngFor="let emp of employees">
    <td>{{emp.empId}}</td>
    <td>{{emp.empName}}</td>
    <td>{{emp.salary}}</td>


    </tr>


  </table>


</div>